.button {
  display: flex;
  gap: 0.225rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 16rem;
  height: 2.8125rem;
  padding: 0.9rem 1.8rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: #87CEEB; /* Sky blue color */
  border: 2px solid #87CEEB; /* Border color matches the background */
  border-radius: 12px;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  transform: scale(1.05); /* Scale up the button on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
